@(listOfUsers : List[SignUpData])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <script type='text/javascript'
            src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/bootstrap.js")'></script>
    <link rel="stylesheet"
          href='@routes.Assets.versioned("bootstrap-3.3.7-dist/css/bootstrap.min.css")'>
    <script type="text/javascript" src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/jQuery-3.1.1.min.js")'></script>

</head>
<body>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Perform Action</th>
    </tr>
    @for(user <- listOfUsers){
    <tr>
        <td>@user.name.firstName</td>
        <td>@user.name.lastName</td>
        <td>@user.username</td>
        <td>@if(!user.isEnabled){
            <form action="/enable/@user.username">
                <input type="submit" name="enable" value="Enable" class="btn btn-info">
            </form>
            } else {
            <form action="/disable/@user.username">
                <input type="submit" name="disable" value="Disable" class="btn btn-danger">
            </form>
            }
        </td>
    </tr>
    }
</table>

<form class="form form-inline" action="/">
    <input type="submit" class="btn btn-info " value="Sign Out">
</form>

</body>
</html>