<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script type='text/javascript'
            src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/bootstrap.js")'></script>
    <link rel="stylesheet"
          href='@routes.Assets.versioned("bootstrap-3.3.7-dist/css/bootstrap.min.css")'>
    <script type="text/javascript" src='@routes.Assets.versioned("bootstrap-3.3.7-dist/js/jQuery-3.1.1.min.js")'></script>

    <link href='@routes.Assets.versioned("stylesheets/signUp.css")'>
</head>

<body>
<div style="    margin-left: 20%; width: 60%;">
    <h2>Sign Up Here !!!</h2>
<form class="form form-horizontal" action="/profileSignUp" method="post">

    <label name="firstname">First Name</label>
    <input class="form-control" type="text" name="name.firstName" placeholder="firstName" ><br>

    <label name="middlename">Middle Name</label>
    <input class="form-control" type="text" name="name.middleName" placeholder="middleName" ><br>

    <label name="lastname">Last Name</label>
    <input class="form-control" type="text" name="name.lastName" placeholder="lastName"><br>

    <label name="gender">Gender</label><br>
    <input type="radio" name="gender" value="male">Male
    <input type="radio" name="gender" value="Female">Female<br>

    <label name="email">Email</label>
    <input class="form-control" type="email" name="email" placeholder="email"><br>

    <label name="mobileno">Mobile No.</label>
    <input class="form-control" type="number" name="mobileNo" placeholder="mobileno"><br>

    <label class="form-label" name="username">UserName</label>
    <input class="form-control" type="text" name="username" placeholder="username" ><br>

    <label class="form-label" name="password">Password</label>
    <input class="form-control" type="password" name="password" placeholder="password" ><br>

    <label class="form-label" name="repassword">Re-enter Password</label>
    <input class="form-control" type="password" name="rePassword" placeholder="rePassword" ><br>

    <label class="form-label" name="age">Age</label>
    <input class="form-control" type="number" name="age" placeholder="age" ><br>

    <label class="form-label" name="hobbies">Hobbies</label>
    <!--<select>-->
        <!--<option name="hobbies" value="Playing Games">Plalying Games</option>-->
        <!--<option name="hobbies">Chatting</option>-->
        <!--<option name="hobbies">Travelling</option>-->
        <!--<option name="hobbies">Cooking</option>-->
        <!--<option name="hobbies">Others</option>-->

    <!--</select>-->
    <textarea class="form-control" type="text" name="hobbies" placeholder="hobbies" ></textarea><br>

    <input class="form-control btn btn-success" type="submit" value=" Submit ">
</form>
</div>
</body>
</html>